* {
    margin: 0;
    padding: 0;
    border-size: border-box;
}
::selection {
    background-color: rgba(0,0,0,0.5)
}
body {
    background: linear-gradient(314deg, #8a5700, #559200, #005a98);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
    height: 125vh;
}
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 10%}
        50%{background-position:100% 91%}
        100%{background-position:0% 10%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 10%}
        50%{background-position:100% 91%}
        100%{background-position:0% 10%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 10%}
        50%{background-position:100% 91%}
        100%{background-position:0% 10%}
    }
.headerContainer {
    display: flex;
    flex-direction: row;

    height: auto;
    justify-content: center;
    background-color: white;
}
    #breadLogo {
        margin: 0 auto;
        margin-top: 5.25vh;
        position: absolute;
    }
    .navbar {
        margin-top: 20vh;
        width: 100%;
        text-transform: uppercase;
        overflow: hidden;

        display: inline-block;
        text-align: center;
        margin-bottom: 2.5vh;
    }
    .navbar li, .navbar a {
        list-style-type: none;
        text-decoration: none;
        font-family: Tahoma;
        color: rgba(0,0,0,1);
        font-weight: 500;   
    }   
    li {
        margin: 0.5vh;
        margin-bottom: 1.25vh;
    }
    .navbar a::after {
        margin: 0 auto;
        content: '';
        display: block;
        width: 0;
        height: 0.125vh;
        background: black;
        transition: width .3s;
    }
        #homeLink:hover::after {
            width: 35%;
            transition: width .3s;
        }
        #portfolioLink:hover::after {
            width: 65%;
            transition: width .3s;
        }
        #customersLink:hover::after {
            width: 90%;
            transition: width .3s;
        }
        #teamLink:hover::after {
            width: 50%;
            transition: width .3s;
        }
        #contactLink:hover::after {
            width: 50%;
            transition: width .3s;
        }
.slogan {
    margin-top: 12.5vh;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 12.5vh;
}    
    #slogan {
        align-items: center;
        color: white;
        font-family: Verdana;
        font-size: 2.5vh;
        font-weight: 400;
    }
.bodyContainer {
    margin-top: ;
    display: flex;
    background-color: white;
    flex-direction: column;
}       
    .contentBox1 {
        margin-left: 1.25vw;
        margin-right: 1.25vw;

        height: auto;
        width: auto;
        display: flex;
    }
        .contentBoxContents {

        }
        #subheading {
            font-weight: bold;
            margin: 3.75vh;
            font-family: verdana;
        }
        #pic {
            margin: 2.5vh;
            margin-left: 2.5vw;
        }
        #pic1 {
            width: 100%;
        }
        .paragraphs1 {
            padding: 2.5vh;
            line-height: 1.5;
            font-size: 1.75vh;
            font-family: arial;
        }
    .contentBox2 {
        margin-left: 1.25vw;
        margin-right: 1.25vw;
        height: auto;
        width: auto;
        justify-content: flex-start;
        
    }     
        #pic2 {
            width: 100%;
        }
.bodyContainer1 {
    display: flex;

    background-color: white;
    flex-direction: column;
    padding-bottom: 12.5vh;
}
    .descriptionBottom {
        text-align: center;
        margin-bottom: 2.5vh;
    }
        .paragraphs2 {
            padding: 2.5vh;
            padding-top: 0;
            line-height: 1.5;
            font-size: 1.75vh;
            font-family: arial;
        }
