* {
    margin: 0;
    padding: 0;
    border-size: border-box;
}
::selection {
    background-color: rgba(0,0,0,0.5)
}
body {
    background: linear-gradient(314deg, #8a5700, #559200, #005a98);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
    height: auto;
}
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 10%}
        50%{background-position:100% 91%}
        100%{background-position:0% 10%}
    }   
    @-moz-keyframes AnimationName {
        0%{background-position:0% 10%}
        50%{background-position:100% 91%}
        100%{background-position:0% 10%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 10%}
        50%{background-position:100% 91%}
        100%{background-position:0% 10%}
    }
.headerContainer {
    display: flex;
    flex-direction: row;
    border: green 1px solid; /* For debugging */
    height: auto;
    justify-content: center;
    background-color: white;
}
    #breadLogo {
        margin: 0 auto;
        margin-top: 5.25vh;
        border: red 1px solid; /* For debugging */
        position: absolute;
    }
    .navbar {
        margin-top: 20vh;
        width: 100%;
        text-transform: uppercase;
        justify-content: center;
        border: blue 1px solid; /* For debugging */
        display: flex;
    }
    .navbar li, .navbar a {
        list-style-type: none;
        text-decoration: none;
        font-family: Tahoma;
        color: rgba(0,0,0,1);
        font-weight: 500;   
        margin-bottom: 2vh;
        font-size: 1.5vh;
    }   
    li {
        margin: 0.5vh;
        margin-left: 0.75vw;
        margin-right: 0.75vw;
        padding: 0.25vw;
    }
    .navbar a::after {
        content: '';
        display: block;
        width: 0;
        height: 0.125vh;
        background: black;
        transition: width .3s;
    }
        .navbar a:hover::after {
            width: 100%;
            transition: width .3s;
        }
.slogan {
    margin-top: 17.5vh;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 17.5vh;
}    
    #slogan {
        align-items: center;
        color: white;
        font-family: Verdana;
        font-size: 2.5vh;
        font-weight: 400;
    }
.bodyContainer {
    margin-top: ;
    border: green 1px solid; /* For debugging */
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}       
    .contentBox1 {
        margin-left: 1.25vw;
        margin-right: 1.25vw;
        border: red 1px solid; /* For debugging */
        height: auto;
        width: auto;
        display: flex;
    }
        .contentBoxContents {
            border: blue 1px solid; /* For debugging */
        }
        #subheading {
            font-weight: bold;
            margin: 3.75vh;
            font-family: verdana;
        }
        #pic1 {
            width: 95%;
        }
        .paragraphs1 {
            padding: 2.5vh;
            line-height: 1.5;
            font-size: 1.75vh;
            font-family: arial;
        }
    .contentBox2 {
        margin-left: 1.25vw;    
        margin-right: 1.25vw;
        border: blue 1px solid; /* For debugging */
        height: auto;
        width: auto;
        justify-content: flex-start;
        
    }     
        #pic2 {
            width: 75%;
        }
.bodyContainer1 { /* second body container */
    display: flex;
    border: green 1px solid; /* For debugging */
    flex-direction: column;
    padding-bottom: 7.5vh;
    color: white;
    justify-content: center;
}
    .descriptionBottom {
        text-align: center;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
        .paragraphs2 {
        color: white;
        font-family: Verdana;
        font-size: 1.75vh;
        font-weight: 400;
        }
.bodyContainer2Parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding-bottom: 12.5vh;
}
.bodyContainer2 { /* third body container */
    display: flex;
    flex-direction: column;
    border: red 1px solid; /* For debugging */
    justify-content: flex-start;
}   
    .leftColumn {
        display: flex;
        flex-direction: column;        
        width: 47.5vw;
        height: 35vh;
        border: blue 1px solid; /* For debugging */
    }
        #subheading1 {
            margin: 2.5vh;
            font-family: verdana;
        }
        .paragraphs3 {
            margin-left: 2.5vh;
            line-height: 1.5;
            font-size: 1.75vh;
            font-family: arial;
        }
        .phoneNumsList {
            margin-left: 3.25vw;
            font-family: arial;
            font-size: 2vh;
        }
        .socialLinks {
            border: green 1px solid; /* For debugging */
            height: 5.75vh;
            display: flex;
            justify-content: flex-start;
        }   
            #fbLink {
                padding: 1.75vh;
                padding-top: 1.25vh;
            }
                #fbLink:hover {
                    border-top: black solid 0.1vh;
                    border-bottom: black solid 0.1vh;
                    transition: .2s;
                }
            #instaLink {
                padding: 1.75vh;
                padding-top: 1.25vh;
            }
                #instaLink:hover {
                    border-top: black solid 0.1vh;
                    border-bottom: black solid 0.1vh;
                    transition: .2s;
                }
            #emailLink {
                padding: 1.75vh;
                padding-top: 1.25vh;
            }
                #emailLink:hover {
                    border-top: black solid 0.1vh;
                    border-bottom: black solid 0.1vh;
                    transition: .2s;
                }
.bodyContainer3 { /* fourth body container */
    border: red 1px solid; /* For debugging */
}
    .rightColumn {
        width: 47.5vw;
        border: blue 1px solid; /* For debugging */
    }
        #subheading2 {
            margin: 0.575vw;
            font-size: 1.25vh;
            font-style: italic;
            font-family: arial;
            text-transform: uppercase;
            color: rgba(0,0,0,0.8);
        }
            #asterisk {
                color: red;
                display: inline;
            }
        .rightColumnChild {
            margin: 2.5vh;
            display: flex;
            justify-content: space-between;
        }
            .inputs {
                font-size: 2.5vh;
                
            }
            #inputName {
                border: 0;
                margin-left: 0.5vw;
                width: 18.75vw;
                height: 3.75vh;
                background-color: rgba(0,0,0,0.125);
                padding-left: 0.75vw;
            }
                ::placeholder {
                    padding: 0.75vw;
                }
            #inputEmail {
                border: 0;
                margin-left: 0.5vw;
                width: 37.5vw;
                height: 3.75vh;
                background-color: rgba(0,0,0,0.125);
                padding-left: 0.75vw;
            }
            #inputComment {
                border: 0;
                margin-left: 0.5vw;
                width: 37.5vw;
                height: 10vh;
                background-color: rgba(0,0,0,0.125);
                padding-left: 0.75vw;
                resize: both;
            }
            #inputSubmit {
                text-transform: uppercase;
                font-family: Verdana;
                color: white;
                border: 0;
                padding: 1.5vh;
                padding-left: 2vw;
                padding-right: 2vw;
                margin-top: 2.25vh;
                margin-left: 0.5vw;
                background-color: black;
            }
    
